
.hero{
    &__container{
        padding: 97px 0;
        display: flex;
        justify-content: space-between  ;
    }
    &__left--box{
        max-width: 470px;
    }

    &__title{
        color: $--main-black;
        font-family: "Open Sans";
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; /* 39px */
    }

    &__text{
        padding: 16px 0;
        color: $--main-black;
        font-family: "Open Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
    }

    &__video{
        border-radius: 5px;
    }
}